/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  .game-title {
    text-align: center;
    margin-top: 75px;
  }
  
  .hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hangman {
    width: 200px;
    height: 300px;
    position: relative;
  }

  .gallows {
    width: 150px;
    height: 20px;
    background-color: #654321;
    position: absolute;
    top: 10px;
    left: 25px;
  }

  .head {
    width: 65px;
    height: 65px;
    border: 15px solid #000;
    border-radius: 50%;
    position: relative;
    top: 27px;
    left: -42px;
  }

  .relative-point {
    width: 10px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 55%;
  }

  .body {
    width: 15px;
    height: 150px;
    background-color: #000;
    position: relative;
    top: 20px;
  }

  .left-arm {
    width: 90px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: -70px;
    left: 0px;
    transform: rotate(35deg);
  }

  .right-arm {
    width: 90px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: -88px;
    left: -68px;
    transform: rotate(-35deg);
  }

  .left-leg {
    width: 90px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(35deg);
  }

  .right-leg {
    width: 90px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: -21px;
    left: -68px;
    transform: rotate(-35deg);
  }

  .support-structure {
    position: absolute;
    top: 45%;
    left: 57%;
    transform: translate(-5%, -50%);
  }

  .beam {
    width: 215px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: 165px;
    left: -195px;
  }

  .noose {
    width: 15px;
    height: 30px;
    background-color:#000;
    position: absolute;
    top: 47%;
    left: 5px;
  }

  .support {
    width: 15px;
    height: 350px;
    background-color: #000;
    position: relative;
    top: 160px;
    left: -170px;
  }

  .base {
    width: 295px;
    height: 15px;
    background-color: #000;
    position: relative;
    top: 160px;
    left: -195px;
  }

  /* #word-container {
    text-align: center;
    position: relative;
  } */

  #center-word {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .word {
    font-size: 24px; /* Adjust font size as needed */
    display: flex;
    align-content:space-evenly;
    letter-spacing: 10px;
}

.word span {
    display: inline-block;
    letter-spacing: 0;
    visibility: hidden;
}

.showLetter {
    visibility: visible !important;
}

.word u {
    border-bottom: 2px solid black; /* Style the underline */
    display: inline-block;
    width: 10px; /* Adjust the width of the underline */
    margin-bottom: 0px; /* Adjust the vertical position of the underline */
    position: relative;
    right: 15px;
}

.flex-container {
    display: flex;
}

#button-center {
    /* border: black 1px solid; */
    width: 490px;
    position: absolute;
    top: 73%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-design {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#point-1 {
    visibility: hidden;
}

#point-2 {
    visibility: hidden;
}

#point-3 {
    visibility: hidden;
}

#point-4 {
    visibility: hidden;
}

#point-5 {
    visibility: hidden;
}

#point-6 {
    visibility: hidden;
}

#guess-container {
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submit-button-design {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#input-guess-box {
    text-align: center;
    border: 2px solid red;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 0 auto;
    display: block;
}

#submit-btn {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
